@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color1: #eeede7;
  --color2: #868b8e;
  --color3: #b9b7bd;
  --color4: #e7d2cc;
}

html,
body {
  box-sizing: content-box;
  background-color: var(--color3);
  height: 100%;
}

ul,
li {
  list-style: none;
}

button,
input[type='submit'] {
  padding: 1em;
  border: none;
  outline-style: none;
}

button:hover,
input[type='submit']:hover {
  outline-style: solid;
}
