@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
  font-family: 'Ubuntu';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color1: #eeede7;
  --color2: #868b8e;
  --color3: #b9b7bd;
  --color4: #44488d;
}

html,
body {
  box-sizing: content-box;
  background-color: var(--color4);
  height: 100%;
}

ul,
li {
  list-style: none;
}

button,
input[type='submit'] {
  font-size: 0.75rem;
  margin: 2px;
  padding: 1em;
  border: 1px solid var(--color2);
  outline-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

button:hover,
input[type='submit']:hover {
  outline-style: solid;
}

input[type='text'] {
  padding: 1em;
  border: none;
}
